/*css sheet for html me something */

h2 {font-family: Cursive; margin-top: 1em;
  padding-top: 1em; text-align:center; font-size: x-large;}

body {margin: 0 auto;
  max-width: 50em;  line-height: 1.5;
  padding: 4em 1em;
}


p {font-family: Arial}

a {color:blue; text-decoration: underline; }
img {height: 10em; width: 10em}
